{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Welcome to Mega Boutique, a fashion and home accessories destination that celebrates and redefines the boutique experience with one seamlessly stylish online platform. Working in partnership with an inspiring global community of high ends fashion house and independent designers, we bring you bespoke access to a covetable mix of premium, emerging and undiscovered labels.

        Shop a mix of new and established brands from Aquazzura, Harris Wharf and J Brand to Ganni, Coliac and Baum Und Pferdgarten. Mega Boutique makes boutique shopping around the world easy, from your device to your doorstep with worldwide express delivery as standard.
        
        Mega Boutique is where the best of local meets the breadth of global: From Dublin to Bologna, Paris to NYC, our ever-expanding network now encompasses both men's fashion</p>
  </div>
  
  <h2 style="text-align:center">Contact Us</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="//media/homepage_background_image_cropped.jpg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title"></p>
          <p></p>
          <p>customerservice@megaboutique.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
{% endblock %}