{% extends "base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<br>
<h2 class="black-text text-darken-4 center-align">FAQ'S</h3><h2 class="logo-font mb-4 center-align"></h2>
<!-- Accordion -->
<ul class="collapsible">
    <li>
        <div class="collapsible-header white-text #000000 black text-shadow">Frequently Asked Questions</div>
    </li>
    <li>
        <div class="collapsible-header white-text #1b5e20 green darken-4 text-shadow"><i
                class="fas fa-caret-down"></i>How do I create an account?</div>
        <div class="collapsible-body"><span></span>You can create a new account by clicking on MY ACCOUNT, located in the upper right corner of the homepage. A new page will open, click on REGISTER NOW and fill out the form.
            To create an account, you must provide the following information: name, last name, email address and create a password. You can change your personal information at any time, this information is confidential and will not be sent to third parties.</div>
    </li>
    <li>
        <div class="collapsible-header white-text #1b5e20 green darken-4 text-shadow"><i
                class="fas fa-caret-down"></i>How can I change my password?</div>
        <div class="collapsible-body"><span>To change your password, you must be logged in. Go to MY ACCOUNT and click on the dedicated link to change your password. Fill out the form and click SAVE.</span></div>
    </li>
    <li>
        <div class="collapsible-header white-text #1b5e20 green darken-4 text-shadow"><i
                class="fas fa-caret-down"></i>Are the items sold on this website authentic?</div>
        <div class="collapsible-body"><span>Mega Boutique is an authorized retailer for all brands present on the website and in our warehouse in Dublin, Ireland. The MEGA boutique and its official website offer genuine clothing, shoes and accessories from the most important designers and brands in fashion.</span></div>
    </li>
    <li>
        <div class="collapsible-header white-text #1b5e20 green darken-4 text-shadow"><i
                class="fas fa-caret-down"></i>Does sold out items get restocked?</div>
        <div class="collapsible-body"><span>The Mega Boutique website reflects the actual availability of items in our warehouses.
            If a size is no longer available, it means that it is sold out. Unfortunately, we are unable to predict if an item will be restocked later in the season.
            We recommend that you periodically check the item page or the collection for new size availability or add the item to your WISHLIST to easily check its status</span></div>
    </li>
    <li>
        <li>
            <div class="collapsible-header white-text #1b5e20 green darken-4 text-shadow"><i
                    class="fas fa-caret-down"></i>What is the cost of shipping?</div>
            <div class="collapsible-body"><span>The method and cost of shipping vary, depending on the selected shipping country. You can find all relevant information by selecting the desired shipping country from the drop down menu at the checkout page.</span></div>
        </li>
        <li>
            <div class="collapsible-header white-text #1b5e20 green darken-4 text-shadow"><i
                    class="fas fa-caret-down"></i>When will my item be shipped?</div>
            <div class="collapsible-body"><span> Available items will be shipped within 1-2 business days (Monday-Friday) following the order's completion. During sales or special promotions, processing times may take longer.
                Pre-Ordered items will be shipped as soon as they are received by our warehouse, as indicated in the confirmation email sent after the order's completion.
                You can find more information about expected delivery</span></div>
        </li>
        <div class="collapsible-header white-text #1b5e20 green darken-4 text-shadow"><i
                class="fas fa-caret-down"></i>How do I contact customer service?</div>
        <div class="collapsible-body"><span>Our customer service is always available to help you.  Contact details are as following:

            Telephone:	Tel. + 35.386.000.72.59
            Customer service:	customerservice@megaboutique.com
            Product Information:</span></div>
    </li>
</ul>
<br>
<br>
{% endblock %}