{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <header>
        <div class="title">
          <h1 style="color:green">FW21</h1>
          <h3>Collections</h3>
        </div>
      </header>
      
      <main>
        <h2>Extra-cozy Staples</h2>
        <p>Warm and comfy essentials for any mood</p>
      </main>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <br>
    <div class="row row-cols-1 row-cols-md-8">
        <div class="col mb-2">
            <div class="card">
                <img src='/media/12.webp' class="card-img-top" alt="SS22">
                <div class="card-body">
                    <h2 style="color:red">Essentials</h2>
                    <a href="{% url 'home' %}" class="btn btn-black">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="col mb-2">
            <div class="card">
                <img src='/media/dior-fall-winter-2022-collection-001.jpeg' class="card-img-top" alt="New Arrivals">
                <div class="card-body">
                    <h3 class="card-text">SS22</h3>
                    <a href="{% url 'home' %}" class="btn btn-black">New Arrivals</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font color:red">
                NEW ARRIVALS
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">SHOP
                        NOW</a>
                </h4>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="col mb-4">
    <div class="card">
        <img src='/media/19-10-2021_TH_1A001-61-539WF-742_1_1.jpeg' class="card-img-top" alt="Coat">
        <div class="card-body">
            <h3 class="card-text">Modern Classic</h3>
            <a href="#" class="btn btn-black">SHOP NOW</a>
        </div>

    </div>
</div>
</div>
</div>
{% endblock %}