{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container content-container">
    <br>
    <br>
    <div class="row row-cols-1 row-cols-md-8">
        <content>
            <div class="title">
                <h1>FALL WINTER</h1>
                <h1 style="color:red">SALES</h1>
                <h2>Up to 60% off</h2>
                <br>
                <a href="{% url 'products' %}?category=sale" class="shop-now-button btn rounded-0 text-uppercase py-3">SHOP
                    NOW</a>
            </div>
        </content>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="card">
        <div class="row text-over-image">
            <div class="col-md-6 image">
                <img src='/media/12.webp' class="card-img-top" alt="New Arrivals">
                <div class="title">
                    <h2 style="color:whitesmoke">SS22</h2>
                    <h3>Extra-cozy Staples</h3>
                    <br>
                    <a href="{% url 'products' %}?category=sweatshirts" class="shop-now-button btn rounded-0 text-uppercase py-3">SHOP
                        NOW</a>
                </div>
            </div>
            <br>
            <div class="col-md-6 image">
                <img src='/media/lifestyleimage1.jpeg' class="card-img-top" alt="New Arrivals">
                <div class="title">
                    <h2 style="color:whitesmoke">Just In</h2>
                    <h3 style="color:whitesmoke">Homeware</h3>
                    <br>
                    <a href="{% url 'products' %}?category=home_décor" class="shop-now-button btn rounded-0 text-uppercase py-3">SHOP
                        NOW</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <img src='/media/5-1.jpeg' class="card-img-top" alt="New Arrivals">
            <div class="title">
                <h2 style="color:whitesmoke">Warm and comfy essentials for any mood</h2>
                <br>
                <a href="{% url 'products' %}" class="shop-now-button btn rounded-0 text-uppercase py-3">SHOP
                    NOW</a>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="card">
            <div class="row text-over-image">
                <div class="col-md-4 image">
                    <img src='/media/contentimage14.webp' class="card-img-top" alt="New Arrivals">
                    <div class="title">
                        <h2 style="color:black">SNEAKERS</h2>
                        <br>
                        <a href="{% url 'products' %}?category=sneakers"
                            class="shop-now-button btn rounded-0 text-uppercase py-3">SHOP
                            NOW</a>
                    </div>
                </div>
                <br>
                <div class="col-md-4 image">
                    <img src='/media/contentimage11.webp' class="card-img-top" alt="New Arrivals">
                    <div class="title">
                        <h2 style="color:black">ACCESSORIES</h2>
                        <br>
                        <a href="{% url 'products' %}?category=accessories"
                            class="shop-now-button btn rounded-0 text-uppercase py-3">SHOP
                            NOW</a>
                    </div>
                </div>
                <br>
                <div class="col-md-4 image">
                    <img src='/media/productimage5.webp' class="card-img-top" alt="New Arrivals">
                    <div class="title">
                        <h2 style="color:black">JACKETS</h2>
                        <br>
                        <a href="{% url 'products' %}?category=jackets"
                            class="shop-now-button btn rounded-0 text-uppercase py-3">SHOP
                            NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <img src='/media/dior-fall-winter-2022-collection-001.jpeg' class="card-img-top" alt="New Arrivals">
            <div class="title">
                <h2 style="color:red">RUNWAY</h2>
                <br>
                <a href="{% url 'products' %}?category=new_arrivals" class="shop-now-button btn rounded-0 text-uppercase py-3">SHOP
                    STYLE</a>
            </div>
        </div>
    </div>
    <br>
</div>
</div>
</div>

{% endblock %}